/* nav bootstrap custom */

.bg-custom {
    background-color: #2F3E4E;
}

.navbar-collapse {
    flex-grow: 0;
}

nav.bg-custom {
    font-weight: bold;
}

.navbar {
    height: 80px;
}

li.nav-item {
    font-size: 12px;
}

/* ------------------ */

body {
    color: #2C3E50;
}

/* prima sezione jumbotron */
.section-container {
    background-color: #57B99D;
    color: #fff;
}

.section-margin {
    padding-top: 50px;
    padding-bottom: 50px;
}

header {
    margin-top: 80px;
}

header img {
    width: 200px;
    margin-bottom: 24px;
}


.star-line{
    font-size: 30px;
    margin-bottom: 24px;
}

/* .star-line::after {
    width: 50px;
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
} */


/* sezione portfolio */

.container-img {
    margin-bottom: 24px;
}

.container-img img {
    width: 100%;
    border-radius: 12px;
}

/* sezione about  */
.text-about {
    font-size: 20px;
    margin-bottom: 24px;
}

.btn-outline-download {
    color: #fff;
    border-color: #fff;
}

button.btn-outline-download {
    font-size: 20px;
}



.footer-top {
    background-color: #3F546B;
    padding: 20px 0;
}

.footer-bottom {
    background-color: #2F3E4E;
    padding: 20px 0;
}

footer {
    color: #fff;
}





.box-query {
    background-color: crimson;
    height: 400px;
}
