/* nav bootstrap custom */

.bg-custom {
    background-color: #2F3E4E;
}

.navbar-collapse {
    flex-grow: 0;
}

nav.bg-custom {
    font-weight: bold;
}

.navbar {
    height: 80px;
}

li.nav-item {
    font-size: 12px;
}

.navbar-dark .navbar-toggler {
    border-color: #eee;
}

/* ------------------ */

body {
    color: #2C3E50;
}

/* prima sezione jumbotron */
.section-container {
    background-color: #57B99D;
    color: #fff;
}

.section-margin {
    padding-top: 50px;
    padding-bottom: 50px;
}

header {
    margin-top: 80px;
}

header img {
    width: 200px;
    margin-bottom: 24px;
}


[class^="star-line-"] {
    font-size: 30px;
    margin-bottom: 24px;
}

.star-line-w::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 5px;
    border-radius: 2px;
    vertical-align: middle;
    background-color: #fff;
}

.star-line-w::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 5px;
    border-radius: 2px;
    vertical-align: middle;
    background-color: #fff;
}

.star-line-b::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 5px;
    border-radius: 2px;
    vertical-align: middle;
    background-color: #2C3E50;
}

.star-line-b::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 5px;
    border-radius: 2px;
    vertical-align: middle;
    background-color: #2C3E50;
}



/* sezione portfolio */

.container-img {
    margin-bottom: 24px;
}

.container-img img {
    width: 100%;
    border-radius: 12px;
}

/* sezione about  */
.text-about {
    font-size: 20px;
    margin-bottom: 24px;
}

.btn-outline-download {
    color: #fff;
    border-color: #fff;
}

button.btn-outline-download {
    font-size: 20px;
}

/* sezione contact */
form input, form textarea {
    border: 0;
    border-bottom: 1px solid #2C3E50;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 12px;
}

form ::placeholder {
    font-size: 20px;
    color: #2C3E50;
}

.btn-success {
    background-color: #57B99D;
    border-color: #57B99D;
}

/* sezione footer */
.footer-top {
    background-color: #3F546B;
    padding: 20px 0;
}

.footer-bottom {
    background-color: #2F3E4E;
    padding: 20px 0;
}

.icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
}

footer {
    color: #fff;
}

.footer-item {
    margin-bottom: 24px;
}

.start-b {
    color: #57B99D;
}

